<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>vue1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="a">
    {{ msg }}
</div>
</body>
<script>
    new Vue({
        el  : '#a',
        data: {
            msg: 'hello vue.js'
        }
    });
</script>
</html>