<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="a">
    <h1 v-bind:title="title">{{msg}}</h1>
</div>
</body>
<script>
    new Vue({
        el  : '#a',
        data: {
            msg  : 'vue.js',
            title: 'this is a javascript framework'
        }
    })
</script>
</html>