<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>3</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <button v-on:click="toSwitch">{{ btn }}</button>
    <p v-if="show">{{ text }}</p>
    <ul>
        <li v-for="li in lists">{{ li.text }}</li>
    </ul>
    <input type="text" v-model="text"/>
</div>
</body>
<script>
    Vue.config.productionTip = false;

    Vue.component('vui-header', {});

    new Vue({
        el     : '#app',
        data   : {
            text : 'I am show',
            btn  : 'hide',
            show : true,
            lists: [
                {text: 'aaa'},
                {text: 'bbb'},
                {text: 'ccc'},
                {text: 'ddd'},
                {text: 'eee'}
            ]
        },
        methods: {
            toSwitch: function () {
                var show  = this.show;
                this.text = show ? 'I am hide' : 'I am show';
                this.btn  = show ? 'show' : 'hide';
                this.show = show ? false : true;
            }
        }
    });

</script>
</html>