<!DOCTYPE html>
<html lang="zh-CN" data-size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>5</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <ul>
        <li v-for="i in menu">{{ i.text }}</li>
    </ul>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.config.productionTip = false;
    var vm = new Vue({
        el: '#app',
        data: {
            menu: [
                {text: 'aaa'},
                {text: 'bbb'},
                {text: 'ccc'},
                {text: 'ddd'},
                {text: 'eee'}
            ]
        }
    });
    
    console.log(vm);

</script>
</html>