<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>5</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <vui-menu v-for="item in menu" v-bind:todo="item" v-bind:key="item.text"></vui-menu>
</div>
</body>
<script>
    Vue.config.productionTip = false;

    //component
    Vue.component('vui-menu', {
        props   : ['todo'],
        template: '<ul class="vui-menu"><li>{{ todo.text }}</li></ul>'
    });

    var app = new Vue({
        el  : '#app',
        data: {
            menu: [
                {text: 'aaa'},
                {text: 'bbb'},
                {text: 'ccc'},
                {text: 'ddd'},
                {text: 'eee'}
            ]
        }
    });

</script>
</html>