<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>7</title>
    <style>
        * {
            box-sizing : border-box;
        }
        html, body {
            padding   : 0;
            margin    : 0;
            font-size : 14px;
        }
        input {
            font-size : inherit;
            outline   : none;
        }
        h1, h2, h3, h4, h5, h6 {margin : 0}
        #app {
            text-align : center;
        }
        .box {
            width  : 750px;
            margin : 0 auto;
        }
        .tobar {
            width         : 100%;
            height        : 40px;
            line-height   : 40px;
            border-bottom : 1px solid #dfdfdf;
        }
        #task_ins {
            width         : 100%;
            height        : 36px;
            border        : 1px solid #dfdfdf;
            padding       : 0 10px;
            margin        : 20px 0;
            border-radius : 3px;
        }
        .task_list {
            list-style : none;
            margin     : 0;
            padding    : 20px 0;
            text-align : left;
        }
        .task_list li {
            border-bottom : 1px solid #eee;
            padding       : 10px 0;
            margin        : 0;
            position      : relative;
            cursor        : pointer;
        }
        .icon-close {
            cursor             : pointer;
            position           : absolute;
            top                : 50%;
            right              : 2px;
            margin-top         : -5px;
            width              : 1em;
            height             : 1em;
            border-radius      : 30%;
            background         : linear-gradient(45deg, transparent 45%, #454545 45%, #454545 55%, transparent 55%), linear-gradient(-45deg, transparent 45%, #454545 45%, #454545 55%, transparent 55%);
            transform          : scale(.8);
            -webkit-transform  : scale(.8);
            transition         : all .3s;
            -webkit-transition : all .3s;
            display            : none;
        }
        .icon-close:hover {
            background        : linear-gradient(45deg, transparent 45%, #fd4e48 45%, #fd4e48 55%, transparent 55%), linear-gradient(-45deg, transparent 45%, #fd4e48 45%, #fd4e48 55%, transparent 55%);
            transform         : scale(1) rotate(-90deg);
            -webkit-transform : scale(1) rotate(-90deg);
        }
        .task_list li:hover .icon-close {
            display : inline-block;
        }
        .completed * {
            opacity : .3;
        }
        .task_edit {
            border             : 0;
            -webkit-appearance : none;
            display            : none;
            padding            : 0;
            margin             : 0;
        }
        .task_edit:focus {
            border : 0;
        }
        .editing .task_title {
            display : none;
        }
        .editing .task_edit {
            display : inline-block;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="tobar">
        <div class="box">
            <h4>任务计划表</h4>
        </div>
    </div>
    <div class="main">
        <div class="box">
            <input id="task_ins" type="text" placeholder="填写任务按Enter键添加" @keyup.13="add" v-model="value"/>
            <ul class="task_list">
                <li v-for="item in tasks" :class="{completed:item.status,editing:edit===item}">
                    <input type="checkbox" v-model="item.status"/>
                    <span class="task_title" @dblclick="rev(item)">{{ item.title }}</span>
                    <input class="task_edit" type="text" v-model="item.title" v-focus="item.edit" @blur="rev({})" @keyup.13="rev({})"/>
                    <i class="icon-close" @click="del(item)"></i>
                </li>
            </ul>
            <p class="pormpt" v-show="!tasks.length">您还没有添加任务!</p>
        </div>

    </div>
</div>
</body>
<script>
    Vue.config.productionTip = false;

    var db = {
        task: {
            tasks: [],
            value: '',
            edit : {}
        }
    };

    var app = new Vue({
        el        : '#app',
        data      : db.task,
        methods   : {
            add: function () {
                this.tasks.push({title: this.value, status: 0});
                this.value = '';
            },
            del: function (item) {
                var index = this.tasks.indexOf(item);
                this.tasks.splice(index, 1);
            },
            rev: function (item) {
                this.edit = item;
            }
        },
        directives: {
            focus: {
                update(el, val) {
                    if (val) {
                        el.focus();
                    }
                }
            }
        }
    });
</script>
</html>