<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>7</title>
    <style>
        * {
            box-sizing : border-box;
        }
        
        html, body {
            padding   : 10px;
            margin    : 0;
            font-size : 14px;
        }
        
        input {
            font-size : inherit;
            outline   : none;
        }
        
        h1, h2, h3, h4, h5, h6 {
            margin : 0
        }
        
        #app {
            width       : 500px;
            height      : 300px;
            position    : relative;
            padding-top : 33px;
        }
        
        #app * {
            box-sizing         : border-box;
            -webkit-box-sizing : border-box;
        }
        
        .btns {
            width       : 100%;
            height      : 30px;
            line-height : 30px;
            position    : absolute;
            top         : 0;
            left        : 0;
            padding     : 0;
            margin      : 0;
            list-style  : none;
        }
        
        .btns > * {
            display      : inline-block;
            padding      : 0 2em;
            border       : 1px solid #e8e8e8;
            border-top   : 3px solid #e8e8e8;
            cursor       : pointer;
            position     : relative;
            margin-right : .5em;
        }
        
        .btns > *.on {
            border-bottom-color : #fff;
            border-top          : 3px solid #ff6600;
        }
        
        .cons {
            width   : 100%;
            height  : 100%;
            border  : 1px solid #e8e8e8;
        }
        
        .cons > * {
            display : none;
        }
        
        .cons > *.on {
            display : block;
        }
    
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <ul class="btns">
        <li v-for="item,i in db.tabs.tabList" :class="{on:i===db.tabs.index}" @click="fTabs(i)">{{ item.subTitle }}</li>
    </ul>
    <div class="cons">
        <ul v-for="item,j in db.tabs.tabList" :class="{on:j===db.tabs.index}">
            <li v-for="subItem in item.lists">{{ subItem }}</li>
        </ul>
    </div>
</div>
</body>
<script>
    Vue.config.productionTip = false;
    
    var tabs = {
        index: 0,
        tabList: [
            {
                subTitle: '111',
                lists: [
                    '111-aaaaaaaaaaaaaaaaa',
                    '111-bbbbbbbbbbbb',
                    '111-cccccccccccccc'
                ]
            },
            {
                subTitle: '222',
                lists: [
                    '222-aaaaaaaaaaaaaaaaa',
                    '222-bbbbbbbbbbbb',
                    '222-cccccccccccccc'
                ]
            },
            {
                subTitle: '333',
                lists: [
                    '333-aaaaaaaaaaaaaaaaa',
                    '333-bbbbbbbbbbbb',
                    '333-cccccccccccccc'
                ]
            }
        ]
    };
    
    new Vue({
        el: '#app',
        data: {
            db: {
                tabs: tabs
            }
        },
        methods: {
            fTabs(index) {
                this.db.tabs.index = index;
            }
        }
    });
</script>
</html>