<!DOCTYPE html>
<html lang="zh-CN" size="m">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>9</title>
    <style>
        * {
            box-sizing : border-box;
        }
        
        html, body {
            padding    : 10px;
            margin     : 0;
            font-size  : 14px;
            text-align : center;
        }
        
        input {
            font-size : inherit;
            outline   : none;
        }
        
        h1, h2, h3, h4, h5, h6 {
            margin : 0
        }
        
        #app {
            margin     : 0 auto;
            width      : 800px;
            box-shadow : 0 1px 3px rgba(0, 0, 0, .15);
            border-top : 3px solid #fdc775;
            padding    : 15px 30px;
        }
        
        ul {
            list-style : none;
            margin     : 0;
            padding    : 0;
        }
        
        table {
            width           : 100%;
            display         : inline-table;
            table-layout    : fixed;
            border-collapse : collapse;
            text-align      : left;
            
        }
        
        .is_choose li {
            border        : 1px solid #ffd9a7;
            display       : inline-block;
            line-height   : 1rem;
            padding       : 5px 2rem 5px .5rem;
            border-radius : 2px;
            background    : #feffef;
            color         : #ff6600;
            position      : relative;
            margin        : 0 5px;
        }
        
        .ux_unchoose {
            display       : inline-block;
            width         : .8rem;
            height        : .8rem;
            position      : absolute;
            right         : .5rem;
            top           : 50%;
            margin-top    : -.4rem;
            border-radius : 30%;
            background    : linear-gradient(45deg, transparent 46%, #ff5858 46%, #ff5858 54%, transparent 54%), linear-gradient(-45deg, transparent 46%, #ff5858 46%, #ff5858 54%, transparent 54%);
            transform     : rotate(0deg);
            transition    : all .2s;
            cursor        : pointer;
        }
        
        .ux_unchoose:hover {
            transform : rotate(180deg);
        }
        
        th {
            font-weight   : normal;
            min-height    : 3rem;
            line-height   : 3rem;
            background    : #fafafa;
            border-bottom : 1px dotted #dfdfdf;
            padding       : 0 .35rem;
        }
        
        td {
            line-height   : 3rem;
            border-bottom : 1px dotted #dfdfdf;
            padding       : 5px .5rem;
        }
        
        .opts td > * {
            padding       : 3px .5rem;
            cursor        : pointer;
            margin        : 0 .5rem;
            
            border-radius : 3px;
            background    : #fff;
            border        : 1px solid #fff;
            
            transition    : all .5s;
        }
        
        .opts td > .on {
            border-radius : 3px;
            background    : #feffef;
            color         : #ff6600;
            border        : 1px solid #ffd8a7;
        }
        
        td:first-child {
            width : 5rem;
        }
        
        tr:last-child td {
            border-bottom : 0;
        }
    
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <table class="is_choose">
        <tr>
            <td>选择:</td>
            <td>
                <ul>
                    <li v-for="(item,i) in db.options" v-if="item.index >=0">
                        <span>{{ item.list[item.index] }}</span>
                        <i class="ux_unchoose" @click="unChoose(i)"></i>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table class="opts">
        <tr v-for="(item,i) in db.options">
            <td>{{ item.title }}：</td>
            <td>
                <span v-for="(opts,j) in item.list" :class="{on:item.index === j}" @click="choose(i,j)">{{ opts }}</span>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    Vue.config.productionTip = false;
    
    new Vue({
        el: '#app',
        data: {
            db: {
                choose: [],
                options: {
                    brand: {
                        title: '品牌',
                        index: -1,
                        list: [
                            '苹果',
                            '魅族',
                            '金立',
                            '华为',
                            '小米',
                            '三星',
                            'OPPO',
                            '中兴',
                            '乐视'
                        ]
                    },
                    size: {
                        title: '尺寸',
                        index: -1,
                        list: [
                            '3.0英寸以下',
                            '3.0-3.9英寸',
                            '4.0-4.5英寸',
                            '4.6-4.9英寸',
                            '5.0-5.5英寸',
                            '6.0英寸以上'
                        ]
                    },
                    os: {
                        title: '系统',
                        index: -1,
                        list: [
                            '苹果(IOS)',
                            '安卓(Android)',
                            '微软(WindowsPhone)',
                            '其它'
                        ]
                    },
                    network: {
                        title: '网络',
                        index: -1,
                        list: [
                            '全网通',
                            '联通4G',
                            '电信4G',
                            '移动4G'
                        ]
                    }
                }
            }
        },
        methods: {
            choose(i, j) {
                this.db.options[i].index = j;
            },
            unChoose(i) {
                this.db.options[i].index = -1;
            }
        }
    });
</script>
</html>